{% extends "base.html" %}
{%block title %}
    Market Page
{% endblock%}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/button_on_cllick.js')}}">د
    <div class="row"  style="margin-top:20px; margin-left:20px;">
        <div class="col-8">
            <!-- <button onclick="click( )">click</button> -->
            <h2 >Available Items on market</h2>
            <p>please click on of them items to start buying</p>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th>images</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    {% include 'include/include_notification.html' %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}} </td>
                        <td>{{item.barcode}}</td>
                        <td>{{item.price}}$</td>
                        <td>
                            <img src="{{url_for('static',filename='images/'~item.name~'.jpg')}}" alt="{{item.name}}" style="width: 100px;max-height: fit-content;">
                        </td>
                        <td>
                            <button class="btn btn-outline btn-info button" data-toggle="modal" data-target="#modal-moreinfo-{{ item.id }}">Purchase</button>
                            <button class="btn btn-outline btn-success button" data-toggle="modal" data-target="#modal-purchase-{{ item.id }}">More Info</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- <button onclick="click()">CLICK</button> -->
        <div class="col-4 text-center basket">
            <h2>Purchased Items</h2>
            
            <div class="row">
                {%for owned_item in owned_items %}
                {%include 'include/owned_item.html'%}
                    <div class="col-md-6">
                        <div style="margin-bottom: 5px;" class="card-body text-center bg-dark">
                            <div class="card-title">
                                <h5 class="card-title">{{owned_item.name}}</h5>
                                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px;" data-toggle="modal" data-target="#modal-sell-{{owned_item.id}}">Sell this item</button>
                                <p class="card-text"><strong>This item cost {{owned_item.price}}$</strong></p>
                            </div>
                        </div>
                    </div>
                
                {%endfor%}
              </div>
        </div>
    </div>
{% endblock %}