<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard style.css') }}">
    <title>Products</title>
</head>
<body>
    <main class="content">
        <div class="title">
            <p>products</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>product</th>
                    <th>price</th>
                    <th>count</th>
                </tr>
            </thead>
            <tbody>
                {%for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td ><span class="price">${{item.price}}</span></td>
                    <td ><span class="count">123</span></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</body>    
</html>