{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/button_on_cllick.js')}}">
    <body class="text-center">
        <div class="container"> 
            <form method="POST"class="form-register" style="color:white;">
                <div class="container">
                    <img  width="200" height="200" src="{{ url_for('static', filename='images/logo.png')}}" class="img-fluid d-block mb-4 mt-4 mx-auto rounded-circle "alt="Logo Photo" id="m" ></img>
                    {{ form.hidden_tag() }}
                    <h1 class="h3 mb-3 font-weight-normal">
                        Please Enter Your Information
                    </h1>
                    {{ form.username.label() }}<br>
                    {{ form.username(class="form-control",placeholder="User Name") }}
                    <br>    
                    {{ form.email.label() }}<br>
                    {{ form.email(class="form-control",placeholder="Email Address") }}
                    <br>
                    {{ form.password1.label() }}<br>
                    {{ form.password1(class="form-control",placeholder="Password" ) }}
                    <br>
                    {{form.password2.label()}}
                    {{form.password2(class="form-control",placeholder="Confirm Password")}}
                    <br>
                    {{form.submit.label()}}
                    {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                    <br>
                    <div>
                        <h6> Have an account</h6>
                        <a href="{{url_for('login')}}" class="btn btn-sm btn-secondary">login</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}