<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard style.css') }}">

    <title>Document</title>
</head>
<body>
    <main class="content">
        <div class="title">
            <p>Users</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {%for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td ><span class="price">{{user.username}}</span></td>
                    <td ><span class="count">{{user.email}}</span></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</body>
</html>